@import url('./fonts/avenir-next-lt-pro/avenir-next-lt-pro.css');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: Avenir, system-ui, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

button {
  transition: all 0.5s;
}

button:hover {
  filter: brightness(0.85);
  cursor: pointer;
}