@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  font-family: Rubik, system-ui;
  transition: all 0.15s;
}

.teaching-center {
  direction: rtl;
}

a.section {
  transition: all 0.05s !important;
}

.hero {
  direction: rtl;
}

.hero h1 {
  line-height: 1.35;
}