@import url("./assets/rubik/rubik.css");
@import url("./assets/din-round-pro/din-round-pro.css");

.rubik {
  font-family: Rubik !important;
  direction: rtl;
}

.din {
  font-family: "DIN Round Pro" !important;
}

/* .memory-box {
  direction: rtl;
} */

/* .right-to-left {
  direction: rtl;
} */

.gift-text {
  background-color: #fae7d1;
}

body {
  background: url("./assets/hero-bg.jpeg");
  background-position: center;
  background-size: contain;
  position: relative;
}

body::before {
  content: "";
  opacity: 0.7;
  background-color: rgb(254, 152, 167);
  width: 100%;
  position: absolute;
  height: 100%;
}

.love-message {
  background-color: #ffd4cf;
  color: #a2332b;
}

.memories {
  background-color: #ffdedb;
  color: #7b3d38;
}

.surprise {
  background-color: #ffb4b1;
  color: #aa2117;
}
