* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-border-color: steelblue;
  --light-border-color: #333;

  --dark-bg-color: #23272f;
  --light-bg-color: #efefef;

  --dark-active-link-color: #a5f0ff;
  --dark-active-link-bg-color: #283542;

  --light-active-link-color: #222;
  --light-active-link-bg-color: #ddd;

  --dark-h1-color: #53c8ff;
  --light-h1-color: #242424;
}

.container {
  font-family: system-ui;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.dark h1 {
  color: var(--dark-h1-color);
}

.light h1 {
  color: var(--light-h1-color);
}

.container.dark {
  background-color: var(--dark-bg-color);
  color: var(--light-bg-color);
}

.container.light {
  background-color: var(--light-bg-color);
  color: var(--dark-bg-color);
}
