.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100dvh - 70px);
}

.home-page h2 {
  font-size: 120px;
}

button.primary {
  color: white;
  border: 0;
  padding: 10px 25px;
  font-size: 18px;
  border-radius: 20px;
}

.dark button.primary {
  background-color: var(--dark-h1-color);
   a { color: var(--dark-bg-color); }
}

.light button.primary {
  background-color: var(--light-h1-color);
   a { color: var(--light-bg-color); }
}

button.primary:hover {
  filter: brightness(0.95);
  cursor: pointer;
}