@import url('../fonts/playwrite-au-sa/playwrite-au-sa.css');

.secret-message {
  background: url('../assets/watermelon.jpeg');
  background-size: cover;
  width: 100%;
  height: 100%;
  font-family: 'Playwrite', system-ui, sans-serif;
}