@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

body {
  font-family: "cairo", system-ui;
}

html {
  direction: rtl;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-size: 0.8rem;
  max-width: 100%;
}

td,
th {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
}

td {
  text-align: center;
}

.layout a {
  transition: all 200ms;
}

.layout a.active {
  background-color: #0f172b;
}
